@media screen and (max-width: 768px) {   
   .login{
        display: grid;
        grid-template-rows: 191px;
        background-color: #0056A3;
        height: 100vh;
    }
    
    #login-title{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    #login-title>*{
        font-size:60px;
        font-weight: bold;
    }
    
    #login-box{
        background-color: #2D78BC;
        border-radius: 30px 30px 0px 0px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #login-box>*{
        margin: 15px;
    }
    
    #login-box>input{
        border-radius: 30px;
        border:0px;
        width: 80%;
        max-width: 304px;
        height: 44px;
    }
    #login-box>button{
        width: 70%;
        max-width: 222px;
        height: 44px;
    
        color: white;
        background-color: #0056A3;
        border-radius: 30px;
        border:2px solid black;
    
        font-weight: 500;
    }
}