/* BODY */
/* Feito por Erik Suguiyama */
.login{
    background-image:url('../assets/login-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 2271px 1514px;
    background-position: -300px 1px;

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* TITULO DO LOGIN */
#login-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 4px;
}


#login-title>*{
    font-size:44px;
    font-weight: bold;
}

/* BOX COM INPUTS E BOTÃO */
#login-box{
    border-radius: 30px 30px 30px 30px;
    width: 80%;
    max-width: 692px;
    max-height: 514px;
    background:rgb(0,86,163,0.7);

    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-box>form>*{
    margin: 15px;
}

.loginInput{
    border-radius: 20px;
    border:0px;
    width: 80%;
    max-width: 304px;
    height: 30px;
}
.loginInput::placeholder{
    text-align: center;
}

.loginButton{
    width: 70%;
    max-width: 222px;
    height: 44px;

    color: white;
    background-color: #0056A3;
    border-radius: 30px;
    border:1px solid black;

    font-weight: 500;
    
    transition: 0.3s;
}

.loginButton:hover{
    background-color: #003768;
}

#login-box>*{
    margin: 15px;
}

.login-problem{
    color: #ff6161;
}

/* MOBILE */
@media screen and (max-width: 480px) {   
    .login{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 966px 1024px;
        background-position: -200px -20px; 

    }
    #login-box{
        height: 100vh;
        width: 248px;
        height: 430px;
    }
}