.buttonMenu{
    margin: 30px;
}
#menuLateral{
    background-color: #0056A3;
    min-width: 206px;
    width: 40%;
}


.navText{
    color: white;
    text-decoration: none;
    font-size:20px;
}
.navText:hover{
    text-decoration: underline;
}