.buttonMenu{
    margin: 30px;
}
#menuLateral{
    background-color: #0056A3;
    min-width: 206px;
    width: 40%;
}


.navText{
    color: white;
    text-decoration: none;
    font-size:20px;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}
.navText:hover{
    text-decoration-color: rgb(255, 255, 255);
}