footer{
    background-color: #0056A3;
    margin-top: 50vh;
    height: 130px;
}

.footerIcon{
    height: 45px;
    margin: 10px;
}
#footerInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footerText{
    color: white;
    white-space: normal;
    word-wrap: break-word;
    max-width: 218px;
}
/* @media screen and (max-width: 768px) {
    footer{
        margin-top: 50vh;
    }
} */