footer{
    background-color: #0056A3;
    margin-top: 50vh;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#footerSocials{
    display: flex;
    gap: 20px;
}
#footerSocials > *{
    color: white;
    transition: color 300ms;
}

#footerSocials > *:hover{
    color: gray;
}

#footerText{
    color: white;
    white-space: normal;
    word-wrap: break-word;
    max-width: 218px;
}
/* @media screen and (max-width: 768px) {
    footer{
        margin-top: 50vh;
    }
} */